@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
}
    
    
@media (max-width: 768px) {
    .propic{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .blogs-details-container {
        flex-direction: column;
        align-items: center;
    }
}